/* Fonts */
@font-face {
  font-family: "Roboto";
  src: url("../public/font/Roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Archivo";
  src: url("../public/font/Archivo/Archivo-Black.ttf");
}
/* Fonts */

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  background-color: #faf4f2;
}

.container {
  /* border: 1px solid red; */
  margin: 0 auto;
  transition: all 0.18s ease-in-out;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
  .place-body {
    max-width: 20rem;
    flex-grow: 0;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
  .menu {
    display: flex;
  }
  .navbar-btns {
    display: flex;
  }
  .hamb-menu {
    display: none;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
